<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../assets/css/style.css">
    <title>HOMEWORK PART 2</title>
</head>

<body>
    <div class="container">
        <div class="box">
            <div>
                <h1>Create and manage HTML elements with jQuery</h1><br>
                <p>You can see the results below</p><br><br>
            </div>
            <div id="div">
                <!--Create two inputs, one for text and one for color in your HTML page-->
                <label for="inp1">Text: </label> 
                <input type="text" name="inp1" id="inp1">
                <label for="inp2">Color: </label>
                <input type="color" name="inp2" id="inp2"><br><br>
                <button>CREATE</button><br><br>

                <h3></h3><br><br>

            </div>
        </div>
    </div>
    <script src="../lib/jq.js"></script>
    <script src="../assets/js/app.js"></script>
</body>

</html>