* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
  }
  
  .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
   
  }
  
  .box {
      width: auto;
      margin: 5px;
      text-align: center; 
  }

button {
  padding: 2px 10px;
}

#message {
  margin-top: 50px;
}