<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/style.css">
    <title>Homework01Input</title>
</head>

<body>
    <div>
        <h1>Homework JS Basic Class02 Greeting</h1>
    </div>
    <div>
        <form>
            <label for="fName">Frst Name: </label>
            <input type="text" id="fName" name="name">
            <label for="lName">Last Name: </label>
            <input type="text" id="lName" name="surname">
            <button type="button" onclick="greeting()">press</button>
        </form>
    </div>
    <div>
        <h2 id="greeting"></h2>
    </div>
    <script src="../src/JS/app01.js"></script>
</body>

</html>