<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>FIND NUMBERS IN ARRAY</title>
</head>
<body>
    <div class="container">
        <div class="box">
            <h1>How many times is a number contained in an array</h1>
            <p>The result you can see in alert box or in dev-tools console</p>
            <p id="res"></p>
            <p id="res1"></p>
            <p id="res2"></p>
        </div>
    </div>
    <script src="../assets/js/app.js"></script>
</body>
</html>