<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../assets/css/style.css">
    <title>HOMEWORK PART 1</title>
</head>

<body>
    <div class="container">
        <div class="box">
            <h1>HOMEWORK PART 1</h1><br>
            <p>CREATE A GREETING APP WITH JQUERY</p><br><br>

            <label for='name'>Insert name: </label>
            <input type="text" id='name' name='name'>

            <button> Click </button><br>

            <h1 id="message"></h1>
            
            </div>
        </div>
    </div>
    <script src="../assets/lib/jQuery.js"></script>
    <script src="../assets/js/app.js"></script>
</body>

</html>