<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Sum of the MAX and MIN</title>
</head>
<body>
    <div class="container">
        <div class="box">
            <h1>Write a JavaScript function that will return:
                The sum of the MAX and MIN numbers from an array.</h1>
            <p>The result you can see in alert box or in dev-tools console</p>
        </div>
    </div>
    <script src="../assets/js/app.js"></script>
</body>
</html>