<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>JS function printing types</title>
</head>
<body>
    <div class="container">
        <div class="box">
            <h1>JavaScript function which accepts a parameter and returns its type and prints it in the console.</h1>
            <p>Open the console in dev-tools to see the prints.</p>
        </div>
    </div>
    <script src="../assets/js/app.js"></script>
</body>
</html>