<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type='text/css' rel="stylesheet" href="../assets/css/style.css">
    <title>numbers of girls and boys in a team</title>
</head>
<body>
    <div class="container">
        <div class="box">
            <h1>The numbers of girls and boys in a team</h1>
            <p>The result of calculation you can see in  dev-tools console</p>
            <script src="../assets/js/app.js"></script>
        </div>
    </div>
    
</body>
</html>