<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../assets/css/style.css">
    <title>HOMEWORK PART 2</title>
</head>

<body>
    <div class="container">
        <div class="box">
            <div>
                <h2>Create a header generator</h2><br>
                <p>You can see the results below</p><br><br>
                <div id="inputs">
                    <label for="textIn">Insert message: </label>
                    <input type="text" name="textIn" id="textIn"><br><br>
                    <label for="color">Select color:  </label>
                    <input type="color" name="color" id="color"><br><br>
                    <button>generate h1</button><br><br>
                    <h1></h1>
                    <h3 id="message"></h3>
                </div>
            </div>
        </div>
        <script src="../lib/jq.js"></script>
        <script src="../assets/js/app.js"></script>
</body>

</html>