<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../assets/css/style.css">
    <title>HOMEWORK PART 3</title>
</head>

<body>
    <div class="container">
        <div class="box">
            <div>
                <h1>Create a header generator</h1><br>
                <p>Print the id, title and if completed print Completed, else print Not Completed for each todo.</p>
                <br><br>
                <p>You can view result below or in console</p>
                <br><br>
                <div id="inputs">
                    <button id="myButton">PRINT</button><br><br>
                    <h2 id="printComp"></h2>
                    <h2 id="printNotComp"></h2>
                </div>
                <div class="output">
                    <div>
                        <table id="output">                  
                        </table>
                    </div>
                    <div >
                        <table id="output1"></table>
                    </div>
                </div>
            </div>
        </div>
        <script src="../lib/jq.js"></script>
        <script src="../assets/js/app.js"></script>
</body>

</html>