<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Chinese Zodiac input</title>
</head>
<body>
    <div>
        <h1>Chinese Zodiac</h1>
        <div>
            <form>
                <label for="year">Enter your year of birdth:</label>
                <input type="text" name="year" id="year">
                <button type="button" onclick="getSign()">PRESS (only)</button>
            </form>
        </div>
        <h2 id="sign"></h2>
    </div>
    <script src="../assets/js/app1.js"></script>
</body>
</html>