<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../assets/css/style.css">
    <title>BONUS HOMEWORK</title>
</head>

<body>
    <div class="container">
        <div class="box">
            <h1>Create a recipe page from inputs</h1>
            <p>You can see the results below</p>
            <div id="recNam"></div>
            <div id="ingNam"></div>
        </div>
    </div>
    <script src="../assets/js/app.js"></script>
</body>

</html>